link(rel="stylesheet", href="/scss/admin/questionsAdmin.css")

div(class="questionsAdmin")
    for question in questionID
        div(class="questionD")
            form(method="post", action="/admin/api/edit")
                ul
                    li: input(name="title", value=question.title, style="display: none;")
                    li: p #{question.title}
                    li: input(name="description", value=question.description, style="display: none;")
                    li: p #{question.description}
                    li: input(name="userId", value=question.userId, style="display: none;")
                    li: p #{question.userId}
                    li: input(name="poster", value=question.poster, style="display: none;")
                    li: p #{question.poster}
                    li: input(name="id", value=question.id, style="display: none;")
                    li: p #{question.id}
                    li: button(type="submit") edit
            //p #{question.title}
            //p #{question.description}
            //p #{question.userId}
            //
            //    ul: li: input(name="title", style="display: none;")
            //        li: button(type="submit") edit




    // for questionz in questionNoID
    //     p #{questionz.userId}
    //