html
    header
        title OliFlo | #{user.name}
        link(rel="stylesheet", href="/css/admin/questionEdit.css")
        script(src='/js/tacos.js')

    body
        div(class="questionE", id="questionE")
            p Question posée par #{user.name}
                p #{question.title}
                p #{question.description}
                p #{question.userId}
                p Poster par #{question.poster}
                p ID= #{question.id}
                button(onclick="edit()") Edit

        div(class="questionUpdate", id="questionUpdate", style="display: none;")
            form(method="post", action="/admin/api/update") Updater votre Article #{user.name}
                ul
                    li: input(type="text", name="titlez", placeholder=question.title)
                    li: input(type="text", name="descriptionz", placeholder=question.description)
                    li: input(type="hidden", name="id", value=question.id)
                    li: button(type="submit") Updater l'article
            button(onclick="edit()") Back