html
    header
        title OliFlo | #{user.name}
        link(rel="stylesheet", href="/css/admin/questionEdit.css")

    body
        div(class="ques")
            p #{user.name}
                p #{title}
                p #{desc}
                p #{userId}
                p(id="aaa") poster par #{poster}
                button(onclick="getElementById('aaa').innerHTML = Date()") Edit

