html
    header
        title Question | #{question.title}
        link(rel="stylesheet", href="/css/questionPage.css")
        include includes/navbar

    body

        div(class="question")
            div(class="line1")
            div(class="line2")
            h2 #{question.title}
            p(id="poster") Poster par: #{question.poster}
            div(class="carre")
                p(id="desc") #{question.description}
            form(action="/", id="home")
                button(type="submit") Home
            form(method="post", action="/comment/" + question.id, id="comment")
                button(type="submit") Comment


        if comments
            div(class="comments")
                h2 Comments
                for comment in comments
                    if comment.questionId === question.id
                        div(class="comment")
                            h3(id="posterC") Poster par: #{comment.userName}
                            div(class="carre")
                                p(id="content") #{comment.content}
                            div(class="line3")




